

.die-picker {
  margin-bottom: 5px;


  .die-type {
    height: 50px;
    width: 50px;
  }

  .die-name {
    display: inline-block;
    padding-left: 10px;
    padding-top: 5px;
    width: 170px;
    font-size: 25pt;
    vertical-align: top;
  }

  .die-value {
    display: inline-block;
    width: 45px;
    padding-top: 5px;
    text-align: center;
    font-size: 25pt;
    vertical-align: top;
  }

  .spin-set {
    display: inline-block;
    vertical-align: top;
  }

  .spin-set button {
    font-weight: bold;
    display: block;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
  }
}

#computed {
  height: 120px;
}

#computed.success {
  background: green;
}

#computed.failure {
  background: red;
}

